<div class="flex justify-between items-center w-full mb-4">
  <h1 class="text-2xl truncate md:text-3xl sm:text-4xl font-bold md:block ">Report Dashboard</h1>
</div>

<iframe class="w-full h-screen" 
  src="<%= ENV["SPREADSHEET_URL"] %>"
></iframe>
